@import url("c.css");
body {
  font-family: arial;
  padding:10px;
  display:block;
  margin:8px auto;
  width:600px;
}        
.layout {
   width: 600px;
   margin: 0 auto;
   
}        
.layout>table {
   margin-top: 50px;  
}
.h-table {
  border-collapse: collapse;
  border-spacing:0 ;
  width:100%;
  border: 1px solid #ccc;
}        
.h-table tr {
  border-bottom: 1px solid #ddd;
  text-align: left;
}        
.h-table tr:nth-child(even) {
  background-color: #f1f1f1;
}        
.h-table th {
    color: #fff;
    background-color: #4CAF50;
    padding: 8px 8px;
    font-weight: bold;
}        
.h-table td {
    padding: 8px 8px;
}        
.h-table.v1 {
     border: none;
}
       
.h-table.v1 th {
     background-color: #fff;
     color: #000;
     padding-top:50px;
}
    